.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s linear 0s, opacity 0.5s linear;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  opacity: 40%;
  color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__close-button_preview {
  top: 0;
  right: -52.5px;
  padding: 0;
  opacity: 100%;
}

.modal__close-button_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  border-radius: 8px;
  border-color: #21212140;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
}

.modal__input:hover {
  border: 1px solid;
  border-color: #212121;
  cursor: pointer;
}

.modal__input::not(:placeholder-shown) {
  border-color: #21212140;
}

.modal__input::placeholder {
  color: #21212130;
}

.modal__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #21212170;
}

.modal__save-button {
  background-color: #212121;
  padding: 18px 32px;
  border-radius: 8px;
  color: #fcf5e5;
  max-width: 156px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.modal__save-button:hover {
  cursor: pointer;
  background-color: #21212180;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-height: 80vh;
  max-width: 80vw;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 0 0 0;
  width: fit-content;
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding: 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__form {
    max-width: 276px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-button {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .modal__close-button_preview {
    top: -48px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__image {
    max-width: unset;
  }
}
